<a href="https://colab.research.google.com/github/ameralhomdy/DS-Unit-2-Regression-Classification/blob/master/module4/First_attempt_assignment_regression_classification_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 4


## Assignment

- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.
- [ ] [Sign up for a Kaggle account](https://www.kaggle.com/), if you donâ€™t already have one. Go to our Kaggle InClass competition website. You will be given the URL in Slack. Go to the Rules page. Accept the rules of the competition.
- [ ] Do train/validate/test split with the Tanzania Waterpumps data.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your validation accuracy score.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

---


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Clean the data. For ideas, refer to [The Quartz guide to bad data](https://github.com/Quartz/bad-data-guide),  a "reference to problems seen in real-world data along with suggestions on how to resolve them." One of the issues is ["Zeros replace missing values."](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values)
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding. For example, you could try `quantity`, `basin`, `extraction_type_class`, and more. (But remember it may not work with high cardinality categoricals.)
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

---

## Data Dictionary 

### Features

Your goal is to predict the operating condition of a waterpoint for each record in the dataset. You are provided the following set of information about the waterpoints:

- `amount_tsh` : Total static head (amount water available to waterpoint)
- `date_recorded` : The date the row was entered
- `funder` : Who funded the well
- `gps_height` : Altitude of the well
- `installer` : Organization that installed the well
- `longitude` : GPS coordinate
- `latitude` : GPS coordinate
- `wpt_name` : Name of the waterpoint if there is one
- `num_private` :  
- `basin` : Geographic water basin
- `subvillage` : Geographic location
- `region` : Geographic location
- `region_code` : Geographic location (coded)
- `district_code` : Geographic location (coded)
- `lga` : Geographic location
- `ward` : Geographic location
- `population` : Population around the well
- `public_meeting` : True/False
- `recorded_by` : Group entering this row of data
- `scheme_management` : Who operates the waterpoint
- `scheme_name` : Who operates the waterpoint
- `permit` : If the waterpoint is permitted
- `construction_year` : Year the waterpoint was constructed
- `extraction_type` : The kind of extraction the waterpoint uses
- `extraction_type_group` : The kind of extraction the waterpoint uses
- `extraction_type_class` : The kind of extraction the waterpoint uses
- `management` : How the waterpoint is managed
- `management_group` : How the waterpoint is managed
- `payment` : What the water costs
- `payment_type` : What the water costs
- `water_quality` : The quality of the water
- `quality_group` : The quality of the water
- `quantity` : The quantity of water
- `quantity_group` : The quantity of water
- `source` : The source of the water
- `source_type` : The source of the water
- `source_class` : The source of the water
- `waterpoint_type` : The kind of waterpoint
- `waterpoint_type_group` : The kind of waterpoint

### Labels

There are three possible values:

- `functional` : the waterpoint is operational and there are no repairs needed
- `functional needs repair` : the waterpoint is operational, but needs repairs
- `non functional` : the waterpoint is not operational

--- 

## Generate a submission

Your code to generate a submission file may look like this:

```python
# estimator is your model or pipeline, which you've fit on X_train

# X_test is your pandas dataframe or numpy array, 
# with the same number of rows, in the same order, as test_features.csv, 
# and the same number of columns, in the same order, as X_train

y_pred = estimator.predict(X_test)


# Makes a dataframe with two columns, id and status_group, 
# and writes to a csv file, without the index

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission['status_group'] = y_pred
submission.to_csv('your-submission-filename.csv', index=False)
```

If you're working locally, the csv file is saved in the same directory as your notebook.

If you're using Google Colab, you can use this code to download your submission csv file.

```python
from google.colab import files
files.download('your-submission-filename.csv')
```

---

In [0]:
import os, sys
in_colab = 'google.colab' in sys.modules

# If you're in Colab...
if in_colab:
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Install required python packages
    !pip install -r requirements.txt
    
    # Change into directory for module
    os.chdir('module4')

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
# Read the Tanzania Waterpumps data
# train_features.csv : the training set features
# train_labels.csv : the training set labels
# test_features.csv : the test set features
# sample_submission.csv : a sample submission file in the correct format
    
import pandas as pd

train_features = pd.read_csv('../data/waterpumps/train_features.csv')
train_labels = pd.read_csv('../data/waterpumps/train_labels.csv')
test_features = pd.read_csv('../data/waterpumps/test_features.csv')
sample_submission = pd.read_csv('../data/waterpumps/sample_submission.csv')

assert train_features.shape == (59400, 40)
assert train_labels.shape == (59400, 2)
assert test_features.shape == (14358, 40)
assert sample_submission.shape == (14358, 2)

In [0]:
train_features = pd.merge(train_features, train_labels, on='id', how='outer')

In [5]:
train_features.shape, test_features.shape

((59400, 41), (14358, 40))

In [0]:
train_features = train_features.drop(columns='date_recorded')

In [0]:
train_features.status_group = train_features.status_group.replace({'functional':2, 'functional needs repair':1, 'non functional':0})

In [8]:
# Splitting data into train & val

from sklearn.model_selection import train_test_split
train, val = train_test_split(train_features, random_state=42) # because 42 is awesome!!!
train.shape, val.shape

((44550, 40), (14850, 40))

In [9]:
train.head()

          id  amount_tsh  ... waterpoint_type_group  status_group
24947  33935        20.0  ...    communal standpipe             0
22630  49654         0.0  ...             hand pump             2
13789  39287         0.0  ...             hand pump             2
15697  60510         0.0  ...    communal standpipe             2
22613  24259         0.0  ...    communal standpipe             0

[5 rows x 40 columns]

In [10]:
target = 'status_group'
y_train = train[target]
y_train.value_counts(normalize=True)

2    0.542334
0    0.384871
1    0.072795
Name: status_group, dtype: float64

In [11]:
# finding the majority

majority = y_train.mode()[0]
majority

2

In [0]:
y_pred = [majority] * len(y_train)

In [13]:
sum(abs(y_pred - y_train)) / len(y_train)  # How much we got wrong

0.8425364758698092

In [14]:
# the accuracy if we guessed the majority for every prediction

from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.542334455667789

In [15]:
y_val = val[target]
y_pred = [majority] * len(y_val)
accuracy_score(y_pred, y_val)

0.5453198653198653

In [16]:
val.describe()

                 id     amount_tsh  ...  construction_year  status_group
count  14850.000000   14850.000000  ...       14850.000000  14850.000000
mean   37197.883838     291.518195  ...        1291.371650      1.162963
std    21503.842453    1853.797688  ...         954.504635      0.949305
min        3.000000       0.000000  ...           0.000000      0.000000
25%    18459.250000       0.000000  ...           0.000000      0.000000
50%    37244.000000       0.000000  ...        1985.000000      2.000000
75%    55721.250000      25.000000  ...        2004.000000      2.000000
max    74246.000000  138000.000000  ...        2013.000000      2.000000

[8 rows x 11 columns]

In [17]:
train.head()

          id  amount_tsh  ... waterpoint_type_group  status_group
24947  33935        20.0  ...    communal standpipe             0
22630  49654         0.0  ...             hand pump             2
13789  39287         0.0  ...             hand pump             2
15697  60510         0.0  ...    communal standpipe             2
22613  24259         0.0  ...    communal standpipe             0

[5 rows x 40 columns]

### Logistic Regression

In [0]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression, SelectKBest

In [0]:
features = ['id', 'amount_tsh', 'gps_height', 'installer', 'wpt_name', 'region_code', 'district_code',
            'population', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type',
            'management_group', 'payment', 'water_quality', 'quantity', 'source', 'waterpoint_type',
            'status_group']

encoder = ce.OneHotEncoder(use_cat_names=True)
train_encoded = encoder.fit_transform(train[features])
val_encoded = encoder.transform(val[features])

In [0]:
selector = SelectKBest(score_func=f_regression, k=15)


X_train_selected = selector.fit_transform(train_encoded, y_train)
X_test_selected = selector.transform(val_encoded)
X_train_selected.shape, val_selected.shape